<div
  class="border border-surface-200 dark:border-surface-700 rounded-xl m-2 p-4 sm:p-6 flex flex-col
         transition-all duration-300 transform hover:scale-95 hover:shadow-xl 
         dark:hover:shadow-surface-900/50 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-[360px] mx-auto bg-white w-full"
>
  <!-- Product Image Section -->
  <div class="mb-4 flex-1">
    <div class="relative mx-auto">
      <!-- Product Image -->
      <img 
        [src]="product.imageUrl" 
        [alt]="product.name" 
        class="w-full h-full object-scale-down rounded-xl" 
      />

      <!-- Inventory Status Tag -->
      <p-tag 
        *ngIf="product.inventoryStatus" 
        [value]="product.inventoryStatus" 
        [severity]="getSeverity(product.inventoryStatus)"
        class="absolute top-3 dark:!bg-surface-900 !text-on-surface"
        styleClass="px-3 py-1 text-base"
      ></p-tag>
    </div>
  </div>

  <!-- Product Name -->
  <div class="mb-4 font-medium text-on-surface text-xl">
    {{ product.name }}
  </div>

  <!-- Price & Action Buttons -->
  <div class="flex justify-between items-center mt-auto">
    <!-- Product Price -->
    <div class="font-semibold text-2xl text-primary">
      USD {{ product.price }}
    </div>

    <!-- Wishlist & Cart Buttons -->
    <span class="flex space-x-3">
      <!-- Add to Wishlist Button -->
      <p-button 
        icon="pi pi-heart" 
        severity="secondary" 
        [outlined]="true"
        styleClass="!text-secondary hover:!text-primary/80 !w-10 !h-10 outline-none"
        (onClick)="onAddToWishlist.emit(product)"
      ></p-button>

      <!-- Add to Cart Button -->
      <p-button 
        icon="pi pi-shopping-cart" 
        styleClass="!bg-primary !border-primary text-secondary !w-10 !h-10 hover:!text-black outline-none"
        (onClick)="onAddToCart.emit(product)"
      ></p-button>
    </span>
  </div>
</div>
