<div
  class="border border-surface-200 dark:border-surface-700 rounded-xl p-4 sm:p-4 flex flex-col transition-all duration-300 transform hover:scale-95 hover:shadow-lg dark:hover:shadow-surface-900/30 w-full h-full bg-white"
>
  <div class="mb-4 flex-1">
    <div class="relative mx-auto">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="w-full h-full object-scale-down rounded-xl"
      />
      <p-tag
        *ngIf="product.inventoryStatus"
        [value]="product.inventoryStatus"
        [severity]="getSeverity(product.inventoryStatus)"
        class="absolute top-3"
      ></p-tag>
    </div>
  </div>
  <div class="mb-4 font-medium text-on-surface text-xl">
    {{ product.name }}
  </div>
  <div class="flex justify-between items-center mt-auto">
    <div class="font-semibold text-2xl text-primary">
      Rs. {{ product.price }}
    </div>
    <span class="flex space-x-3">
      <p-button
        icon="pi pi-heart"
        severity="secondary"
        [outlined]="true"
        styleClass="!text-secondary hover:!text-primary/80 !w-10 !h-10 outline-none"
        (onClick)="onAddToWishlist.emit(product)"
      ></p-button>
      <p-button
        icon="pi pi-shopping-cart"
        styleClass="!bg-primary !border-primary text-secondary !w-10 !h-10 hover:!text-black outline-none"
        (onClick)="onAddToCart.emit(product)"
      ></p-button>
    </span>
  </div>
</div>
