<div class="p-6 bg-background  rounded-lg shadow max-w-8xl mx-auto space-y-7 border border-border" >
  <h2 class="text-2xl font-semibold mb-4 text-accent">My addresses</h2>

  <div *ngIf="adress.length===0" class="text-accent">
    You have no addresses yet.
  </div>
 <div *ngFor="let address of adress" class="mb-6 border border-border p-4 rounded-lg shadow-sm">
  <div class="grid md:grid-cols-3 gap-4">
    <div>
      <label class="block text-sm text-primary mb-1">Street</label>
      <input type="text" class="w-full p-3 rounded border border-border" [(ngModel)]="address.street" placeholder="{{address.street}}">
    </div>
    <div> 
      <label class="block text-sm text-primary mb-1">City</label>
      <input type="text" class="w-full p-3 rounded border border-border" [(ngModel)]="address.city" placeholder="{{address.city}}">
    </div>
    <div>
      <label class="block text-sm text-primary mb-1">State</label>
      <input type="text" class="w-full p-3 rounded border border-border" [(ngModel)]="address.state" placeholder="{{address.state}}">
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 mt-4">
    <div>
      <label class="block text-sm text-primary mb-1">ZIP Code</label>
      <input type="text" class="w-full p-3 rounded border border-border" [(ngModel)]="address.zip" placeholder="{{address.zip}}">
    </div>
    <div>
      <label class="block text-sm text-primary mb-1">Country</label>
      <input type="text" class="w-full p-3 rounded border border-border" [(ngModel)]="address.country" placeholder="{{address.country}}">
    </div>
  </div>

  <div class="flex items-center mt-4 space-x-2">
    <input type="checkbox" [(ngModel)]="address.isDefault" class="rounded text-primary focus:ring-0" placeholder="Set as default address">
    <label class="text-sm text-gray-700">Set as default address</label>
  </div>
</div>

</div>  