<div class="p-4 max-w-7xl mx-auto bg-background border border-border">
  <h2 class="text-2xl font-semibold text-primary mb-5">My Wishlist</h2>

  <div *ngIf="wishlist?.items?.length === 0" class="p-4 text-center text-500">
    Your wishlist is empty.
  </div>
 
  <div class="p-grid  ">
    <div *ngFor="let item of wishlist?.items" class="p-col-12 ">
      <p-card class="mb-3 bg-background shadow-sm ">
        <div class="flex flex-col md:flex-row items-start md:items-center gap-4 ">
          
          <!-- Image on the left -->
          <img
            [src]="item.products.images[2]"
            alt="Product Image"
            class="w-40 h-40 object-cover rounded shadow-md"
          />

          <!-- Content on the right -->
          <div class="flex-grow space-y-2">
            <div class="flex justify-between items-center">
              <h3 class="text-lg font-semibold text-900 truncate">
                {{ item.products.name }}
              </h3>
              <!-- Remove (Heart) -->
              <button
                pButton
                icon="pi pi-heart-fill"
                class="p-button-rounded p-button-text p-button-danger"
                pTooltip="Remove from wishlist"
                (click)="removeFromWishlist(item.products._id)"
              ></button>
            </div>

            <p class="text-sm text-600">
              Luminosity: {{ item.products.specifications.Luminosity }}
            </p>
            <p class="text-sm text-600">Gender: {{ item.products.gender }}</p>
            <p class="text-sm text-700">{{ item.products.description }}</p>

            <!-- Price -->
            <div>
              <span
                *ngIf="!item.products.discountPrice"
                class="text-green-600 font-bold text-sm"
              >
                ${{ item.products.price }}
              </span>

              <div *ngIf="item.products.discountPrice">
                <span class="text-green-600 font-bold text-sm">
                  ${{ item.products.discountPrice }}
                </span>
                <span class="text-400 text-xs line-through ml-2">
                  ${{ item.products.price }}
                </span>
              </div>
            </div>
 
            <!-- Move to cart button -->
            <button
              pButton
              label="Move to Cart"
              icon="pi pi-shopping-cart"
              class="p-button-sm p-button-outlined p-button-success mt-2"
              
            ></button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
