<section class="relative min-h-screen overflow-hidden">
  <!-- Headings -->
  <div class="container mx-auto px-4 mb-35">
    <p class="mb-4 text-secondary tracking-widest">CERTIFIED WATCHES</p>
    <h1 class="text-7xl">DURABLE & STYLE</h1>
  </div>

  <!-- Image Grid -->
  <div class="container mx-auto grid grid-cols-3 gap-8 relative">
    <!-- Image 1 -->
    <div class="relative h-[600px] animate-float" style="--delay: 0s; --start: -20px">
      <div class="absolute top-100 left-0 -translate-x-full">
        <h6 class="text-xl font-bold text-secondary vertical-text">MINERAL GLASS</h6>
      </div>
      <div class="w-4/5 mx-auto h-full">
        <img src="/floatWatch1.png" class="w-full h-full object-cover" alt="Watch feature">
      </div>
    </div>

    <!-- Image 2 -->
    <div class="relative h-[600px] animate-float mt-20" style="--delay: 0.3s; --start: -30px">
      <div class="absolute top-100 left-0 -translate-x-full">
        <h6 class="text-xl font-bold text-secondary vertical-text">QUARTZ ANALOG</h6>
      </div>
      <div class="w-4/5 mx-auto h-full">
        <img src="/floatWatch2.png" class="w-full h-full object-cover" alt="Watch feature">
      </div>
    </div>

    <!-- Image 3 -->
    <div class="relative h-[600px] animate-float" style="--delay: 0.6s; --start: -10px">
      <div class="absolute top-110 left-0 -translate-x-full">
        <h6 class="text-xl font-bold text-secondary vertical-text">ROSE GOLD</h6>
      </div>
      <div class="w-4/5 mx-auto h-full">
        <img src="/floatWatch3.png" class="w-full h-full object-cover" alt="Watch feature">
      </div>
    </div>
  </div>
</section>