<section
  class="relative min-h-screen bg-cover bg-center"
  style="background-image: url('/quote.png')"
>
  <!-- Text container -->
  <div class="relative min-h-screen flex items-center justify-end mr-0 md:mr-40">
    <div
      class="relative max-w-2xl w-full mr-0 md:mr-8 lg:mr-16 px-4 py-12
             border-t-[1px] border-r-[1px] border-on-background
             overflow-visible animated-edge
             bg-white/30 backdrop-blur-xs md:bg-transparent md:backdrop-blur-0"
    >
      <!-- Text -->
      <h1 class="text-3xl md:text-4xl mb-8 text-on-surface font-light pr-0 md:pr-4">
        Perfect combination of style and design in wrist watches
      </h1>
      <p class="leading-relaxed mb-12 text-secondary">
        Dignissim diam quis enim lobortis. Egesas sed tempus urna et pharetra
        pharetra massa. Platea dictumst quisque sagittis purus sit amet.
      </p>

      <!-- bottom border -->
      <div class="absolute bottom-0 right-0 w-1/3 border-b-[1px] border-on-background"></div>

      <!-- bottom line -->
      <h6
        class="absolute bottom-0 right-1/2 mr-20 -mb-2 text-secondary text-xl font-bold"
      >
        — Nicolas
      </h6>
    </div>
  </div>
</section>