.submit-bttn{
    background-color: var(--color-primary);
    box-shadow: var(--shadow-default);
    font-weight: 500;
}
.submit-bttn:hover{
    background-color: var(--color-link-hover);
    box-shadow: var(--shadow-default);
    cursor: pointer;
    font-weight: 600;
}