<form [formGroup]="profileForm" (ngSubmit)="submitProfileUpdate()" class="space-y-6">
  <div class="bg-background rounded-lg shadow p-8 max-w-8xl mx-auto space-y-7 border border-border">
    <h2 class="text-2xl font-bold text-accent">Profile</h2>
    <p class="text-sm text-accent">View & Update Your Personal and Contact Information</p>
 
    <!-- Contact Information -->
    <div>
      <h3 class="text-lg font-semibold text-accent mb-4">Contact Information</h3>
      <div class="grid md:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm text-primary mb-1">Email</label>
          <input type="email" class="w-full p-3 rounded border border-border bg-background cursor-not-allowed"
                 [value]="user.email" disabled placeholder="{{user.email}}">
        </div>
        <div>
          <label class="block text-sm text-primary mb-1">Phone number</label>
          <input type="text" class="w-full p-3 rounded border border-border"
                 formControlName="phone" placeholder="Enter your Phone Number">
          <div *ngIf="profileForm.get('phone')?.invalid && (profileForm.get('phone')?.touched || profileForm.get('phone')?.dirty)" class="text-red-500 text-sm mt-1">
            <div *ngIf="profileForm.get('phone')?.errors?.['required']">Phone number is required.</div>
            <div *ngIf="profileForm.get('phone')?.errors?.['pattern']">Phone number must contain only digits.</div>
          </div>
        </div>
      </div>
      <p class="text-xs text-gray-400 mt-2">This can be used to login across all our apps.</p>
    </div>

    <!-- Personal Information -->
    <div>
      <h3 class="text-lg font-semibold text-accent mb-4">Personal Information</h3>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="block text-sm text-primary mb-1">First name</label>
          <input type="text" class="w-full p-3 rounded border border-border"
                 formControlName="firstName" placeholder="Enter your first name">
          <div *ngIf="profileForm.get('firstName')?.invalid && (profileForm.get('firstName')?.touched || profileForm.get('firstName')?.dirty)" class="text-red-500 text-sm mt-1">
            <div *ngIf="profileForm.get('firstName')?.errors?.['required']">First name is required.</div>
            <div *ngIf="profileForm.get('firstName')?.errors?.['minlength']">First name must be at least 2 characters.</div>
          </div>
        </div>

        <div>
          <label class="block text-sm text-primary mb-1">Last name</label>
          <input type="text" class="w-full p-3 rounded border border-border"
                 formControlName="lastName" placeholder="Enter your last name">
          <div *ngIf="profileForm.get('lastName')?.invalid && (profileForm.get('lastName')?.touched || profileForm.get('lastName')?.dirty)" class="text-red-500 text-sm mt-1">
            <div *ngIf="profileForm.get('lastName')?.errors?.['required']">Last name is required.</div>
            <div *ngIf="profileForm.get('lastName')?.errors?.['minlength']">Last name must be at least 2 characters.</div>
          </div>
        </div>
      </div>

      <div class="grid md:grid-cols-3 gap-4 mt-4">
        <div>
          <label class="block text-sm text-primary mb-1">Birthday</label>
          <input type="date" class="w-full p-3 rounded border border-border"
                 formControlName="birthday" placeholder="Enter your Birthday">
          <p class="text-xs text-gprimary mt-1">🎉 Get offers on your special day!</p>
          <div *ngIf="profileForm.get('birthday')?.invalid && (profileForm.get('birthday')?.touched || profileForm.get('birthday')?.dirty)" class="text-red-500 text-sm mt-1">
            <div *ngIf="profileForm.get('birthday')?.errors?.['required']">Birthday is required.</div>
          </div>
        </div>

        <div class="col-span-2 flex items-center">
          <label class="mr-4">Gender:</label>
          <label class="mr-4 flex items-center space-x-2">
            <input type="radio" formControlName="gender" value="Male">
            <span>Male</span>
          </label>
          <label class="flex items-center space-x-2">
            <input type="radio" formControlName="gender" value="Female">
            <span>Female</span>
          </label>
        </div>
      </div>
      <div *ngIf="profileForm.get('gender')?.invalid && (profileForm.get('gender')?.touched || profileForm.get('gender')?.dirty)" class="text-red-500 text-sm mt-1">
        <div *ngIf="profileForm.get('gender')?.errors?.['required']">Gender is required.</div>
      </div>
    </div>
 
    <div class="text-left">
      <button class="px-6 py-3 text-white rounded-l submit-bttn"  type="submit" [disabled]="profileForm.invalid">
        Update Profile
      </button>
    </div>
  </div>
</form>
