<section class="relative min-h-screen bg-cover bg-center py-35 mt-40"
         style="background-image: url('/bgWatchCollection.png')">

  <div class="container mx-auto px-4 relative z-10">
    <!-- Headings -->
    <div class="text-center mb-16">
      <h6 class="text-2xl text-secondary tracking-widest mb-4">EXCLUSIVE PRODUCTS</h6>
      <h1 class="text-5xl md:text-7xl text-primary ">NEW TECHNOLOGY</h1>
    </div>

    <!-- Desktop Grid -->
    <div class="hidden md:block">
      <!-- First Row -->
      <div class="grid grid-cols-1 md:grid-cols-3 mb-12">
        <app-product-card 
          *ngFor="let product of products.slice(0, 3)"
          [product]="product"
          (onAddToCart)="handleAddToCart($event)"
          (onAddToWishlist)="handleAddToWishlist($event)">
        </app-product-card>
      </div>
      <!-- Second Row -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <app-product-card 
          *ngFor="let product of products.slice(3, 6)"
          [product]="product"
          (onAddToCart)="handleAddToCart($event)"
          (onAddToWishlist)="handleAddToWishlist($event)">
        </app-product-card>
      </div>
    </div>

    <!-- Mobile Carousel -->
    <div class="block md:hidden">
      <p-carousel
        [value]="products"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [showIndicators]="false"
        [showNavigators]="true"
        [autoplayInterval]="4000"
      >
        <ng-template pTemplate="item" let-product>
          <app-product-card
            [product]="product"
            (onAddToCart)="handleAddToCart($event)"
            (onAddToWishlist)="handleAddToWishlist($event)">
          </app-product-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>